<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <%= render @tasks %>
</div>

<br>

<!-- Makes an AJAX call to do the new thing with the remote: true -->
<%= link_to 'New Task', new_task_path, remote: true %>

<div id="task-form" style="display:none;">

</div>
